<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Layout Title</title>
    <div th:fragment="header-css" th:remove="tag">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="stylesheet" href="webjars/Semantic-UI/2.4.1/semantic.min.css"
              th:href="@{/webjars/Semantic-UI/2.4.1/semantic.min.css}"/>
    </div>
</head>

<div th:fragment="header-page">
    <div class="ui top attached text menu">
        <div class="header item">
            <strong>Mon cinéma</strong>
        </div>

        <a class="item" id="menu-persons" href="#" th:href="@{/person/list}">Personnes</a>
        <a class="item" id="menu-genres" href="#" th:href="@{/genre}">Genres</a>

        <div class="ui dropdown item">
            <i class="dropdown icon"></i>
            Films
            <div class="menu">
                <!--<div class="header">Text Size</div>-->
                <a class="item" href="/film/rechercheImportTmdb">Recherche de Films Tmdb</a>
                <a class="item" href="/film/peuplerFilm">peupler les films(tmbd)</a>
                <a class="item" href="/film/peuplerGenre">peupler les genres(tmbd) </a>
                <a class="item" href="/film/rechercheBDD">Recherche de Films BDD</a>
                <a class="item" id="menu-films" href="/film/list" >List Films</a>
            </div>
        </div>
    </div>


</div>


</div>
<div clas="ui containerJsonForFilm">
    <h1>A l'affiche en ce moment</h1>
    <h2 class="ui dividing header">Date</h2>

</div>


<div th:fragment="footer-js">
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script src="webjars/Semantic-UI/2.4.1/semantic.min.js"
            th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
    <script src="webjars/tinymce/4.7.9/tinymce.min.js"
            th:src="@{/webjars/tinymce/4.7.9/tinymce.min.js}"></script>
    <script type="application/javascript">
        $('.ui.dropdown.item')
            .dropdown();
    </script>

</div>
</body>
</html>