<!DOCTYPE "HTML">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragment/header.html :: header-css"></div>
    <style>
        th{text-align: center;}
    </style>
</head>
<body>
<form action="#" th:action="@{/film/modification}" method="post" enctype="multipart/form-data">
    <input hidden th:value="${film.getId()}" name="id" type="text" />
    <p>titre : <input th:value="${film.getTitle()}" name="titre" type="text" /></p>
    <p>note : <input th:value="${film.getRating()}" name="note" type="number" /></p>

    <p>sommaire : <input th:value="${film.getSummary()}"textarea rows="4" cols="50" name="sommaire" type="text" /></p>
    <p>Réalisateur :
        <select  name="realisateur">

            <option th:each="person : ${persons}" th:selected="${person.getId()==film.getDirector().getId()}" th:value="${person.getId()}" th:text="${person.getSurname()+'    '+person.getGivenname()}">

        </select>
    </p>
    <p>Genres :
        <select multiple name="genre">

            <option th:each="genre : ${genres}" th:selected="${film.getGenres().contains(genre)}" th:value="${genre.getId()}" th:text="${genre.getName()}">

        </select>

    </p>
    <input type="submit" value="Modifier" />
</form>

<form method="get" action="/film/suprimer">
    <input hidden type="text" name="id" th:value="${film.id}">
    <input type="submit" value="Suprimer">
</form>
<form action="#" th:action="@{/film/nouveaurole}" th:object="${newrole}" method="post">
    <input hidden name="id" th:value="${film.id}">
    <p>person :
        <select name="personne">
            <option th:each="person : ${persons}" th:value="${person.getId()}" th:text="${person.getSurname()+'    '+person.getGivenname()}">
        </select>
    </p>
    <p>rank : <input th:field="*{rank}" type="number" /></p>
    <p>nom role : <input  th:field="*{name}" type="text" /></p>

    <input type="submit" value="Valider" />
</form>

<div th:replace="fragment/footer.html::footer"/>
</body>
</html>
