<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <title>Liste des films</title>
    <div th:replace="fragments/layout :: header-css">
    </div>

    <style>
        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            z-index: 2;
            color: #fff;
            cursor: default;
            background-color: #428bca;
            border-color: #428bca;
        }
        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.42857143;
            color: #428bca;
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ddd;
        }
        .pagination {
            display: flex;
            padding-left: 0;
            margin: 20px 0;
            border-radius: 4px;
        }
        ul, ol {
            margin-top: 0;
            margin-bottom: 10px;
        }
        #film-body{
            display:flex;
        }
    </style>
</head>

<body>

<div th:include="fragments/layout :: header-page">
</div>

<div class="ui search">
    <input id="search" class="prompt" type="text" placeholder="Recherche Film" onchange="search()">
    <div class="results"></div>
</div>
<br>
<div class="two wide column" id="rfilm-template">
    <div id="film-template"></div>

</div>
<div class="ui grid" id="film-body">
</div>
<ul id="paginationn" class="pagination-lg pagination"></ul>
<br>
<div class="ui modal">
    <div class="ui containerJsonForFilm padded grid">
        <div class="two column row">
            <div class="four wide column">
                <div class="ui medium image">
                    <img id="poster_path-film">
                </div>
            </div>
            <div class="twelve wide column">
                <input type="hidden" name="id" id="id-genre">
                <h1>Titre : <span id="title-film"></span></h1>
                <h4>Résumé du Film : <span id="overview-film">???</span></h4>
                <h4>Notation : <span id="popularity-film">???</span></h4>
                <h4>Genres : <span id="genres-film">???</span></h4>


                <div class="actions">
                    <a class="circular ui green icon button" href="/film/importerFilmTmdb/" id="add-button">
                        <i class="white plus icon"></i>
                    </a>
                    <div class="circular ui icon blue button" onclick="exitDialog()" id="exit-button">
                        <i class="white close icon icon"></i>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/layout :: footer-js"></div>
<script src="/js/pagination.js" th:src="@{/js/pagination.js}"></script>
<script type="application/javascript">

    $('#rfilm-template').hide();


    //tape une recherche
    function search() {
        var film = $('#search').val();
        $('#film-body').text();
        //clean le cache de la pagination(reset le nombre de page entre chque recherche)
        $('#paginationn').empty();
        $('#paginationn').removeData("twbs-pagination");
        $('#paginationn').unbind("page");
        $.ajax({
            url: 'https://api.themoviedb.org/3/search/movie?api_key=e7e21157a30acfe8e589e73e95b74d44&language=fr-FR&query=' + film + '&page=1&include_adult=false',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: onSuccessDialog
        });
    }



    function onSuccessDialog(result) {
        $('#film-body').html('');
        console.log(result);
        let maxPages=result.total_pages;
        //TMBD limite le nombre de page visible dans la versio ngratuit a 1000
        if (maxPages>1000){
            maxPages=1000;
        };
        //pagination
        $('#paginationn').twbsPagination({
            totalPages: maxPages,
            visiblePages: 7,
            startPage: result.page,
            //event au changement de page
            onPageClick: function (event, page) {
                var film = $('#search').val();
                var page = page;
                $('#film-body').text();

                $.ajax({
                    url: 'https://api.themoviedb.org/3/search/movie?api_key=e7e21157a30acfe8e589e73e95b74d44&language=fr-FR&query=' + film + '&page=' + page + '&include_adult=false',
                    type: 'post',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: onSuccessDialog
                });
            }
        });
        //la liste de film est dans l'attribut results
        result2 = result.results;

        if (result2.length == 0) {
            console.log("qsdfsdf");
            $('#film-body').text("          Pas de Film trouvé");
            $('#film-body').attr("style", "text-align: middle")
        }
        else {
            var id = result2[0].id;
            for (var i = 0; i < result2.length; i++) {
                let id = result2[i].id;
                var row = $('#rfilm-template').clone();
                row.attr("id", 'rfilm' + id);
                var col = row.find('#film-template');
                col.attr("id", 'film' + id);

                col.text(result2[i].title);
                row.show();
                $('#film-body').append(row);
                var image = document.createElement("img");
                image.src = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/" + result2[i].poster_path;
                image.style.width = "100px";
                image.style.height = "100px";
                 // image.style.bottom = "0";
                //image.style.position = "absolute";

                row.append(image);
                $('#rfilm' + id).on('click', function () {
                    openDialogMod(id);
                });
            }
        }

    }
    //on recherche le film selectionne par l'utilisateur dans tmbd
    function openDialogMod(idFilm) {
        var filename = 'https://api.themoviedb.org/3/movie/' + idFilm + '?api_key=e7e21157a30acfe8e589e73e95b74d44&language=fr-FR';
        $.ajax({
            url: 'https://api.themoviedb.org/3/movie/' + idFilm + '?api_key=e7e21157a30acfe8e589e73e95b74d44&language=fr-FR',
            type: 'get',
            dataType: 'json',
            contentType: 'application/json',
            success: onSuccessA,
            error: onError
        });
    }
    //on genere la modal du film selectionner
    function onSuccessA(result) {
        console.log(result);
        $('#id-film').val(result.id);
        document.getElementById("title-film").textContent = result.title;
        document.getElementById("overview-film").textContent = result.overview;
        document.getElementById("popularity-film").textContent = result.popularity;
        var genres = "";
        for (var i = 0; i < result.genres.length; i++) {
            genres += result.genres[i].name + " ";
        }
        document.getElementById("genres-film").textContent = genres;
        $('#poster_path-film').attr("src", "https://image.tmdb.org/t/p/w600_and_h900_bestv2/" + result.poster_path);
        $('#add-button').show();
        $('#add-button').attr("href", "/film/importerFilmTmdb/?id=" + result.id);
        $('.ui.modal').modal('show');

    }

    function onError(jqXHR, textStatus, errorThrown) {
        console.log('jqXHR:');
        console.log(jqXHR);
        console.log("message d'erreur: " + jqXHR.responseJSON.message);
        console.log('textStatus:');
        console.log(textStatus);
        console.log('errorThrown:');
        console.log(errorThrown);
        alert("Echec de l'opération\n" + jqXHR.responseJSON.message);
    }

    function exitDialog() {
        $('.ui.modal').modal('hide');
    }

</script>


</body>
</html>