<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
</head>

<body>

<select class="ui dropdown">
    <option value=""></option>
    <option value="1">Male</option>
    <option value="0">Female</option>
</select>
<script>
    $('.ui.dropdown').dropdown();

</script>
</body>
</html>